{% extends 'layout_new.html.twig' %}

{% block header %}
  {% include 'Layout/header.html.twig' %}
{% endblock %}

{% block content %}
    {# include('Includes/content-default.html.twig') #}

      <section class="pb-4">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <p class="lead mb-0">
                        Wir suchen zur Verstärkung unseres Teams einen
                    </p>
                  <h2 class="mb-0">CNC-Dreher / Zerspanungsmechaniker (m/w)</h2>
                  <p class="lead">
                    für Kleinserien und Sonderteilefertigung
                  </p>
                </div>
            </div>
        </div>
      </section>
      <section class="pb-5">
          <div class="container pb-5">
            <div class="row justify-content-between">
              <div class="col-md-8 col-lg-8">
                <h5 >
                Ihre Aufgaben
                </h5>
                <ul>
                  <li>CNC-gestütztes Bearbeiten von Fertigungsaufträgen für Kleinserien und Einzelteile</li>
                  <li>Eigenständiges Einrichten, Bedienen und Bestücken von Bearbeitungs-Maschinen</li>
                  <li>Erstellen und Anpassen von Bearbeitungsprogrammen</li>
                  <li>Vermessen und Prüfen der Drehteile nach Zeichnungs- und Qualitätsvorgaben</li>
                  <li>Pflege des Werkzeugmanagements</li>
                </ul>
                <h5 >
                Ihr Profil
                </h5>
                <ul>
                  <li>Abgeschlossene Ausbildung in der Metallverarbeitung – z.B. als Zerspanungsmechaniker/-in oder CNC-Dreher/-in</li>
                  <li>CNC-Kenntnisse und Erfahrungen im Bereich Zerspanungstechnik – idealerweise Kenntnisse mit Steuerung Mazatrol (Mazak Steuerung); Siemens Sinumerik 840D</li>
                  <li>Hohes Qualitäts- und Verantwortungsbewusstsein</li>
                  <li>Sie sind offen, kommunikativ und ein rundum zuverlässiger Kollege/in</li>
                </ul>
                <h5 class="mt-5">
                  Sie haben Interesse an dieser Herausforderung? Dann bewerben Sie sich bei uns.<br>
                  Wir freuen uns auf Ihre Bewerbung.
                </h5>
              </div>
              <div class="col-md-4 col-lg-3">
                <div class="text-block">
                  <h5>Verfügbar</h5>
                  <p>
                    ab sofort!
                  </p>
                </div>
                <div class="text-block">
                  <h5>Einsatzort</h5>
                  <p>
                      Erwin Wimmer GmbH
                    <br> CNC-Fertigung
                    <br> Carl-Berberich-Straße 4
                    <br> 74232 Abstatt
                  </p>
                </div>
                <div class="text-block">
                  <h5>Kontakt</h5>
                  <p>
                    07062 978810
                    <br>info@wimmer-cnc.de
                  </p>
                </div>
              </div>
              <!--<div class="col-12">
                  <img class="img-thumbnail img-wide" src="images/_MG_6459_web.jpg">
              </div>-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </section>


{% endblock %}
