{# include('Includes/area-headlines.html.twig') #}
      <section class="{#section-invert#} py-4">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col col-lg-9 mx-auto">
                {{ pimcore_areablock('section_content') }}
            </div>
          </div>
        </div>
      </section>

