<footer class="main-footer py-4">
  <div class="container">
    <div class="row">
      <div style="min-height: 60px;" class="col-md-1 text-center text-md-left">
        <a target="_blank" href="/static/images/Wimmer_GmbH_-_CNC_Zertifikat_2017_DIN_A4_300dpi.pdf">
          <img style="min-width:46px; max-width: 60px;" class="mb-2 mb-md-0" src="/static/images/0297077_Siegel 9001_notext.svg"
            alt="Zertifizierung">
        </a>
      </div>
      <div class="col-md-8 text-center order-md-last text-md-right">
        <ul class="list-inline mb-2 mb-md-0">
          <li class="list-inline-item ">
            <a class="text-light" href="https://cdn.website-editor.net/73169e5d5b43491ebdf795c67806a7ef/files/uploaded/AGB_A4_Spalten_ZW_v3_cmyk.pdf">
              <span>AGB's</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a class="text-light" href="/datenschutz.html">
              <span>Datenschutz</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a class="text-light" href="/impressum.html">
              <span>Impressum</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-center text-md-left">
        <span class="text-light">©2018 Wimmer GmbH</span>
      </div>
    </div>
  </div>
</footer>
