{% extends 'layout_new.html.twig' %}

{% block header %}
	{% include 'Layout/header.html.twig' %}
{% endblock %}

{% block content %}
    <section class="">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col col-lg-9 mx-auto">

			{% set headline = pimcore_input('headline') %}
			{% if editmode %}
				<h2>{{ headline|raw }}</h2>
			{% endif %}
			{% if headline is not empty and not editmode %}
				<h2>{{ headline|raw }}</h2>
			{% endif %}

				{% for i in pimcore_iterate_block(pimcore_block('contentblock')) %}
					<div class="lead"><p class="lead">{{ pimcore_input('subline') }}</p></div>
					{{ pimcore_wysiwyg('content') }}
					{# pimcore_areablock('content', {allowed: ['section']}) #}
					{# pimcore_areablock('content') #}
				{% endfor %}

          </div>
        </div>
      </div>
    </section>
{% endblock %}

